/*
Theme Name: PublicidadAbierta
Description: Publicidad abirta
Author: FundarLab
Author URI: http://fundar.org.mx
Template: enfold
*/



/*Fuentes*/
body {
    font-family: "acumin-pro",sans-serif;
    font-weight: 300;
    color: #231f20;
}
p {
    font-family: "acumin-pro",sans-serif;
    font-weight: 300;
    color: #231f20;
}

/** hero zone home **/
#av_section_hero-zone-conversion{
    background: #00b4e4;   
}
.avia_transform .av-extra-border-element.border-extra-diagonal.border-extra-diagonal-inverse .av-extra-border-inner {
    left: 0;
    right: auto;
    transform: rotate(-3deg);
    transform-origin: left top 0;
}
.avia_transform .av-extra-border-element.border-extra-diagonal .av-extra-border-inner {
    height: 100%;
    position: absolute;
    right: 0;
    top: 250px;
    transform: rotate(3deg);
    transform-origin: right top 0;
    width: 110%;
}
#next-zonehero {
    border-top-width: 0 !important;
    clear: both;
    float: left;
    min-height: 100px;
    position: static;
    width: 100%;
}
.container_wrap {
    border-top-style: solid;
    border-top-width: 0px;
    clear: both;
    position: relative;
}
img.brand {
    display: block;
    margin: -7px auto 21px;
    padding:8px 0;
    text-align: center;
    width: 32%;
}
h1#intro {
    color: #231f20;
    display: inline-block;
    font-family: "acumin-pro-condensed",sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    text-align: center !important;
    text-transform: none;
}
p#sub-intro {
    color: #231f20;
    font-size: 17px;
    font-weight: 300;
    margin-top: 7px;
    text-align: center;
}
.resumen-hero-converversion {
    font-family: acumin-pro;
    font-size: 20px;
    line-height: 22px;
    float:right;
    width:400px;
}
p.tw-texto {
    border: 1px solid #231f20 !important;
    color: #231f20;
    display: block;
    float: right;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    line-height: 1rem;
}
img.img-hero {
    width: 43px;
    margin-top:70px;
}
body div .avia-button-2 {
    background-color: #e4e16d;
    border: 1px solid #e4e16d;
    color: #ffffff;
    display: block;
    float: right;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 3px 0;
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 26px;
    position: relative;
    text-align: center;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
}
.clue {
    width: 60px;
}
#state_choise{
    background-image: none;
    color: black;
    font-family: acumin-pro;
    font-size: 19px;
}